<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPizza" />
                <binding name="BasicHttpBinding_IPizza1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52263/Pizza.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPizza" contract="PizzaReference.IPizza"
                name="BasicHttpBinding_IPizza" />
            <endpoint address="http://localhost/SoapDemo.Client/Pizza.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPizza1"
                contract="ServiceReference1.IPizza" name="BasicHttpBinding_IPizza1" />
        </client>
    </system.serviceModel>
</configuration>